<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>List of categories</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

            li {
                display: inline;
                list-style-type: none;
            }

            nav ul{
                display: inline;
                list-style-type: none;
            }

            </style>
    </head>

    <body>

      <nav class="navbar fixed-top navbar-inverse bg-inverse style="background-color: #1483d4"";>
        <a class="navbar-brand" th:href="@{/frontpage}">NewsCabinet</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav" th:each="category : ${categories}">
            <li class="nav-item">
              <a class="nav-link" th:text="${category.name}" th:href="@{/categories/{id} (id=${category.id})}">name</a>
            </li>
          </ul>
        </div>
      </nav>

      <div class = "container">
        <h2><strong><span th:text="${category.name}"></span></strong> </h2>

         <p><span th:text="${category.description}"></span></p>

         <div th:if="${stories != null}">
           <ul>
              <li th:each="story : ${stories}">
                <div class="well">
                  <img class="img-thumbnail" alt="Cinque Terre" width="304" height="236" th:src="@{/picture/{id} (id=${story.id})}"/>
                  <p></p>
                  <a th:href="@{/story/{id} (id=${story.id})}" th:text="${story.title}">title</a>
                  <span<p th:text="${story.intro}">type</p></span>
                </div>
              </li>
            </ul>
          </div>
        </div>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </body>
</html>
