<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Add a new news story</title>
    <style>

            li {
                display: inline;
                list-style-type: none;
            }
            
            nav ul{
                display: inline;
                list-style-type: none;
            }

            </style>
    </head>

    <body>
        
        <nav>
           <ul th:each="category : ${categories}">
                <li><a th:text="${category.name}" th:href="@{/categories/{id} (id=${category.id})}">name</a></li>
           </ul>
         </nav> 
        
        <h1>NewsCabinet</h1>

        <h2>New story</h2>
        
        <form th:action="@{/newstory}" method="POST" enctype="multipart/form-data">
            <p>Title: <input type="text" name="title"></input></p>
            <p>Introduction: <textarea name="intro" rows="5" cols="40"></textarea></p>
            <p>Main text: <textarea name="content" rows="20" cols="100"></textarea></p>
            <p>Writer: <input type="text" name="writer"></input></p>
            <p>Category:</p> 
            <select name="categories" id="categories" multiple="multiple" >
                    <option th:each="category : ${categories}"
                            th:value="${category.id}" 
                            th:text="${category.name}" ></option>
            </select> 
            <p>Picture: <input type="file" name="picture" id="picture"/></p>
            <input type="submit" value="Submit!"/>
        </form>
    </body>
</html>
