<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Read the story</title>
    <style>

            li {
                display: inline;
                list-style-type: none;
            }
            
            nav ul{
                display: inline;
                list-style-type: none;
            }

            </style>
    </head>

    <body>
        
        <nav>
           <ul th:each="category : ${categories}">
                <li><a th:text="${category.name}" th:href="@{/categories/{id} (id=${category.id})}">name</a></li>
           </ul>
         </nav> 
        
        <h1>NewsCabinet</h1>

        <h2><strong><span th:text="${story.title}"></span></strong> </h2>
        <img th:src="@{/picture/{id} (id=${story.id})} " width="200" height="200"/>
        <h3><span th:text="${date}"></span></h3>
        
        <i><span th:text="${story.intro}"></span></i>
        
        <p><span th:text="${story.content}"></span></p>
        
        <i>By :<span th:text="${story.writer}"></span></i>
    </body>
</html>